NEXT_PUBLIC_SUPABASE_URL=https://uxrpljylbhifolcqslju.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4cnBsanlsYmhpZm9sY3FzbGp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMDMzNzAsImV4cCI6MjA4NjY4NDM3MH0.WMR3fZpubA-lEGUWCMwqFya5Nucg17LHR5pNRCpitEs
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_SECRET_KEY_HERE
REDIS_URL=redis://127.0.0.1:6379
OPENCLAW_VAULT_API_URL=http://100.80.14.108:18789
